.bg-boolzapp{
    background: linear-gradient(180deg, rgba(66,148,136,1) 10%, rgba(219,219,211,1) 10%);
    background-repeat:no-repeat;
    height: 100vh;
}

/* Aside left */
.user-aside-container{
    background-color: rgb(250, 251, 251);
    height: 80vh;
    border: 1px black solid;
}
.user-aside{
    background-color: gray;
    height: 70px;
    margin-bottom: 0;
}
.container-img{
    width: 55px;
    display: inline-block;
    
}
.container-img img{
    width: 100%;
    border-radius: 50px;
}
.icons-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}
.allert-span{
    background-color: rgb(77, 185, 221);
    height: 80px;
    
}
.allert-span i{
    font-size: 20px;
    border: none;
    padding: 15px;
    border-radius: 50%;
    background: white;
    color: rgba(25, 157, 233,0.5);
}
.user-search{
    border: 1px rgba(172, 170, 170,0.2) solid;
    width: 97%;
    background-color: rgb(245, 245, 245);
    margin-top: 10px;
}
.user-search i{
    width: 20px;
    color: rgba(172, 170, 170,0.6);

}
.user-search input{
    width: 90%;
    margin-left: 14px;
    border: none;
    background-color: rgb(245, 245, 245);

}
.user-list ul{
    list-style: none;
    padding: 0;
}
.user-list ul>li{
    width: 100%;
    border: 1px rgb(170, 169, 169) solid;
    cursor: pointer;
}
/* Aside right*/
.message-aside-container{
    background-image: url(../img/mine.jpg);
    height: 80vh;
    border: 1px black solid;
    position: relative;
    
}

.message-aside{
    background-color: gray;
    height: 70px;
}
/* messaggi utenti */
.prova{
    display: flex;
    flex-direction: column;
    justify-content:flex-end ;
}
.recived{
    border: 1px black solid;
    border-radius: 10px;
    padding:15px;
    width: 40%;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
     
}
.send{
    border: 1px black solid;
    padding:15px;
    width: 40%;
    background-color: rgb(60, 185, 102);
    border-radius: 10px;
    margin-top: 10px;
    align-self: flex-end;
}
.send-data{
    font-size: 10px;
    color: rgb(0, 0, 0);
    text-align: right;
}
.bottom-bar{
    height: 60px;
    background-color: gray;
    position: absolute;
    bottom: 0;

}
.text-mess input{
    height: 45px;
    margin-top: 8px;
    width: 100%;
    border-radius: 40px;
    padding-left: 20px;
}
.icons-mess{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons-mess i{
    font-size: 25px;
}